@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/lvdc-game-over');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-family: 'Poppins', sans-serif;
    --bg-color: #164B60;
    --primary-color: #A2FF86;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--font-family);
}

h1 {
    font-size: 5em;
}

.msg-sucesso {
    font-size: 4em;
}

.msg-end{
    font-family: 'LVDC Game Over 2', sans-serif;
    font-size: 8rem;
    color: white;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.btn-novamente-reniciar , .btn-novamente-end{
    margin: 20px;
    border: none;
    padding: 20px;
    background-color: #3b95cb;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.btn-novamente-end{
    background-color: var(--primary-color);
    color: black;
}

.btn-novamente-end:hover{
   font-size: 20px;
}

.btn-novamente-reniciar:hover{
    background-color: #2181bd;
    transition: 0.5s;
}


.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}